@{
    Layout = "";
}
@model Nop.Plugin.Widgets.YandexMetrics.Models.ConfigurationModel
@using Nop.Web.Framework;

@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })

@{
    //default values
    var metric_trackingScript = Html.Raw(HttpUtility.JavaScriptStringEncode("<!-- Yandex.Metrika counter -->" + "\r\n" +
        "<script>" + "\r\n" +
        "window.dataLayer = window.dataLayer || [];" + "\r\n" +
        "(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};" + "\r\n" +
        "m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, 'script', 'https://mc.yandex.ru/metrika/tag.js', 'ym');" + "\r\n" +
        "ym({{MetricId}}, 'init', {" + "\r\n" +
            "clickmap:true," + "\r\n" +
            "trackLinks: true," + "\r\n" +
            "accurateTrackBounce: true," + "\r\n" +
            "webvisor: true," + "\r\n" +
            "ecommerce: 'dataLayer'" + "\r\n" +
        "});" + "\r\n" +
        "<ECOMMERCE>" + "\r\n" +
        "</ script >" + "\r\n"+
        "<noscript><div><img src='https://mc.yandex.ru/watch/{METRICID}' style='position:absolute; left:-9999px;' alt='' /></div></noscript>" + "\r\n" +
        "<!-- /Yandex.Metrika counter -->"));


    var metric_EcommerceScript = Html.Raw(HttpUtility.JavaScriptStringEncode(
        "dataLayer.push({" +
            "'ecommerce':{" + "\r\n" +
                "'purchase', {" + "\r\n" +
                    "'id': '{{OrderId}}'," + "\r\n" +
                    "'revenue': '{{Total}}'," + "\r\n" +
                    "'shipping': '{{Ship}}'," + "\r\n" +
                    "'products': [" + "\r\n" +
                        "<ITEM_DETAILS>" +
                    "]" + "\r\n" +
                "}" + "\r\n" +
            "}" + "\r\n" +
        "});" + "\r\n"
       ));

    var metric_EcommerceDetailScript = Html.Raw(HttpUtility.JavaScriptStringEncode(
        "{" + "\r\n" +
            "'id': '{{ItemId}}'," + "\r\n" +
            "'name': '{{ProductName}}'," + "\r\n" +
            "'sku': '{{ProductSku}}'," + "\r\n" +
            "'category': '{{CategoryName}}'," + "\r\n" +
            "'price': '{{UnitPrice}}'," + "\r\n" +
            "'quantity': '{{Quantity}}'" + "\r\n" +
        "}"));

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                @T("Plugins.Widgets.YandexMetrics.Instructions")              
            </div>
            <div class="panel-footer">
                <input type="button" id="pre-configure-metric" class="btn btn-primary" value="Pre-configure" />

                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#pre-configure-metric").click(preConfigureMetric);
                    });

                    function preConfigureMetric() {
                        $('#@Html.FieldIdFor(model => model.TrackingScript)').val('@metric_trackingScript');
                        $('#@Html.FieldIdFor(model => model.EcommerceScript)').val('@metric_EcommerceScript');
                        $('#@Html.FieldIdFor(model => model.EcommerceDetailScript)').val('@metric_EcommerceDetailScript');
                    }
                </script>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                @T("Plugins.Widgets.YandexMetrics.Note")
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.MetricId_OverrideForStore, model => model.MetricId, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.MetricId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.MetricId)
                        @Html.ValidationMessageFor(model => model.MetricId)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.TrackingScript_OverrideForStore, model => model.TrackingScript, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.TrackingScript)
                    </div>
                    <div class="col-md-9">
                        @Html.NopTextAreaFor(model => model.TrackingScript)
                        @Html.ValidationMessageFor(model => model.TrackingScript)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.EcommerceScript_OverrideForStore, model => model.EcommerceScript, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.EcommerceScript)
                    </div>
                    <div class="col-md-9">
                        @Html.NopTextAreaFor(model => model.EcommerceScript)
                        @Html.ValidationMessageFor(model => model.EcommerceScript)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.EcommerceDetailScript_OverrideForStore, model => model.EcommerceDetailScript, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.EcommerceDetailScript)
                    </div>
                    <div class="col-md-9">
                        @Html.NopTextAreaFor(model => model.EcommerceDetailScript)
                        @Html.ValidationMessageFor(model => model.EcommerceDetailScript)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.IncludingTax_OverrideForStore, model => model.IncludingTax, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.IncludingTax)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.IncludingTax)
                        @Html.ValidationMessageFor(model => model.IncludingTax)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ZoneId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.ZoneId, Model.AvailableZones)
                        @Html.ValidationMessageFor(model => model.ZoneId)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}